---
title: "Portfolio & Blog"
layout: splash
header:
  overlay_filter: "0.5"
  overlay_image: /assets/images/header-image.jpg
  actions:
    - label: "About me"
      url: "/about/"
  caption: "Hakone, Kanagawa, Japan | Photo credit: Eric Chan"
excerpt: "Graduate Data Analyst"
intro:
  - excerpt:
      Hi, my name is Eric Chan. I am a 25 year old graduate data analyst living in Sydney, Australia.
      I currently work at Schneider Electric as in a technical graduate role.
      For more information about me, please visit the 'About Me' page.
feature_row:
  - image_path: assets/images/resume-image.jpg
    alt: "resume image"
    title: "Resume"
    excerpt: "Find a copy of my current resume using the link below."
    url: "/assets/files/pdf/Resume - Eric Chan.pdf"
    btn_label: "Download"
    btn_class: "btn--primary"
  - image_path: /assets/images/blog-image.jpg
    alt: "blog image"
    title: "Blog"
    excerpt: "A blog of my learning progress, hobbies, food, travel and goals."
    url: "/blog/index.html"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/attic-image.jpg
    title: "The Attic"
    excerpt: "A collection of useful websites I have found useful and maybe to others as well."
    url: "/attic/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
